@model List<Casgem_CodeFirstProject.DAL.Entities.Client>
<section class="w3l-clients" id="client">
    @foreach (var item in Model)
    {
        <div class="call-w3" style="        background: url( @item.ImageUrl );
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;">

            <div class="container text-center">
                <div class="title-head">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                </div>
            </div>

        </div>
    }
</section>