@model List<Casgem_CodeFirstProject.DAL.Entities.Team>
<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">

            <div class="row">
                @foreach (var item in Model)
                {


                <div class="column2 col-lg-6">

                    <img src="@item.ImageUrl" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">Explore</h6>
                    <h3>@item.Title </h3>
                    <p class="para editContent text ">
                        @item.Description
                    </p>
                </div>
                }
            </div>
        </div>
    </div>
    </div>
</section>
